<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/users">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" href="/chats">My Inbox</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/messages">All Messages</a>
      </li>

        <li class="nav-item">
          <%= button_to 'Cerrar sesión', destroy_user_session_path, method: :delete, data: { confirm: "¿Seguro que quieres salir?" }, class: "btn btn-link nav-link" %>

        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Iniciar sesión', new_user_session_path, class: "btn btn-primary" %>

        </li>
      <% end %>
    </ul>
  </div>
</nav>
