<h1>Chats</h1>

<%= link_to 'Add new chat', new_chat_path %>

<ul>
  <% @chats.each do |chat| %>
    <li>
      Chat with: <%= chat.other_participant(current_user).first_name %><br>

      <%= link_to 'Show', chat_path(chat) %> |
      <%= link_to 'Edit', edit_chat_path(chat) %>
    </li>
  <% end %>
</ul>
